body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #0056b3;
    color: white;
}

.header-content {
    display: flex;
    align-items: center;
    gap: 20px; 
}

header h1 {
    font-size: 2.5em;
    margin: 0;
}

header .club-logo {
    max-width: 90px; 
    height: 80px;
    border-radius: 10px;
}

.gallery {
    padding: 20px;
    text-align: center;
}

.gallery h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
}

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.gallery-item {
    width: 200px;
    height: 150px;
    overflow: hidden;
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.3s;
}

.gallery-item img:hover {
    transform: scale(1.2);
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.modal-content {
    position: relative;
    background: transparent;
    text-align: center;
}

.modal-back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px 20px;
    font-size: 1em;
    color: white;
    background-color: #0056b3;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    z-index: 2; /* Ensure the back button is above the image */
}

.modal-back-button:hover {
    background-color: #003d82;
}

.modal img {
    max-width: 100%;
    max-height: 100%;
    transition: transform 0.3s;
}

.zoom-controls {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    z-index: 2; /* Ensure the zoom controls are above the image */
}

.zoom-controls button {
    padding: 10px 20px;
    font-size: 1em;
    color: white;
    background-color: #0056b3;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.zoom-controls button:hover {
    background-color: #003d82;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #0056b3;
    color: white;
}

.footer-back-button {
    padding: 10px 20px;
    font-size: 1em;
    color: white;
    background-color: #0056b3;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.footer-back-button:hover {
    background-color: #003d82;
}
